.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Shared Styles*/
.display-flex{
    display: flex;
}
.text-grey{
    color: #424242; /*dark02*/
}
.text-light-grey{
    color: #727272; /*dark03*/
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/*Header Styles*/

/*Navbar related styles*/
.nav-bar{
    justify-content: space-between;
}

.nav-item{
   list-style: none;
   margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
   
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}